@tailwind base;
@tailwind components;
@tailwind utilities;
/* Ajoutez cela à votre fichier de styles CSS */


@keyframes animateStars {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 5000px;
  }
}
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.w-120 {
  width: 40rem;
}
.h-120 {
  height: 40rem;
}


@keyframes float {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 10px, 0);
  }
  100% {
    transform: translate3d(0, -10px, 0);
  }
}
.small-planet {
  opacity: 0;
}
.planet-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease;
}
.letter {
  display: inline-block;
  font-size: 4rem;
  will-change: transform;

}

.w-120 {
  width: 40rem; /* Remplacez par la largeur souhaitée pour les tailles d'écran plus grandes */
}

.h-120 {
  height: 40rem; /* Remplacez par la hauteur souhaitée pour les tailles d'écran plus grandes */
}

@media (max-width: 768px) {
  .w-120 {
    width: 80%; /* Redimensionnez la largeur pour les écrans plus petits */
  }

  .h-120 {
    height: auto; /* Permettez à la hauteur de s'ajuster automatiquement pour les écrans plus petits */
  }

}
